<mat-toolbar class="sticky top-0 z-10 border-b border-gray-200 bg-white">
  <div class="flex flex-grow items-center justify-end">
    <button [matMenuTriggerFor]="userMenu" mat-button class="flex items-center gap-2">
      <mat-icon>person_outline</mat-icon>
      <span class="hidden md:block">{{ authService.user()?.email }}</span>
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>