<mat-sidenav-container class="h-full w-full bg-gray-100">
  <mat-sidenav mode="side" opened class="w-64 border-r border-gray-200">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-col">
    <app-header></app-header>
    <main class="flex-grow overflow-hidden relative">
      <div [@fadeSlideAnimation]="getRouteAnimationData()" class="h-full w-full p-6 lg:p-8 overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>